.gradient {
  position: absolute;
  width: 304px;
  height: 100vh;
  right: 60%;
  top: 0;
  z-index: -1;

  background: rgba(0, 86, 172, 0.65);
  filter: blur(170px);
  transform: rotate(-114.2deg);
}

.half-circle-blue {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 10%;
  z-index: -1;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 10px solid rgba(0, 102, 204, 0.65);
  border-bottom: 0;
  filter: blur(25px);
  scale: 0.95;
}

.half-circle-white {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 12%;
  z-index: -1;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 6px solid rgb(227, 241, 251);
  border-bottom: 0;
  filter: blur(25px);
  scale: 0.95;
}

.backgroundMain {
  width: 100%;
  height: 100vh;
  background-image: url('./images/astronaut.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  z-index: -2;
}

.backgroundLaunches {
  width: 100vw;
  height: 100%;
  background-image: url('./images/earth.jpeg');
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem;
  opacity: 0.8;
  z-index: -2;
}

.allLaunches {
  text-align: center;
  margin: 0 0 1rem 0;
}

.allLaunches p {
  margin: 0 0 0.5rem 0;
}


@media screen and (max-width: 575px) {
  .gradient {
    scale: 0.7;
  }

  .half-circle-blue {
    scale: 0.9;
  }

  .half-circle-white {
    scale: 0.9;
  }
}