@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: black;
  color: #c7c7c7;
  z-index: 10;
  font-family: 'Exo', sans-serif;
}

a {
  color: #c7c7c7;
  cursor: pointer;
}


.MuiPagination-ul .MuiPaginationItem-root,
.MuiPagination-ul button {
  color: white;
}

.MuiPagination-ul {
  justify-content: center;
}