.card {
    max-width: 300px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    background: linear-gradient(0deg, #282c34 0%, rgba(0, 3, 32, 0.5) 100%);
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    overflow: hidden;
    transition: 0.5s all;
}

.card hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}

.description {
    margin: 0.3rem 0;
    color: #c7c7c7;
}

.flightInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ikon {
    font-size: 18px;
    margin-right: 5px;
}

.date {
    display: flex;
    align-items: center;
    color: #83b3ee;
    font-weight: 500;
}

.flightInfoDetails {
    display: flex;
    align-items: center;
    color: #c7c7c7;
    margin-right: 0.2rem;
}

.ikonStamp {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    margin: 0 0.5rem 0 0;
    border-radius: 100%;
    box-shadow: inset 0 0 0 3px #000000aa;
    font-size: 18px;
}

.card ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff09;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.card:hover {
    border: 1px solid #bcbcbc44;
    box-shadow: 0 7px 50px 5px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.card:hover ::before {
    filter: brightness(0.5);
    top: -120%;
    left: 200%;
}



/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
    .card:hover {
        border: none;
        box-shadow: none;
        transform: none;
        filter: none;
    }

    .card:hover ::before {
        filter: none;
        top: 0;
        left: 0;
    }

    .card ::before {
        box-shadow: none;
    }
}